


*{
    padding: 0;
    margin: 0;
}

:root{
    font-family: Roboto;
    
}

#page{
    background-color: #387478;
    display: flex;
    width: 100vw;
    height:calc(100vh - 40px);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#homeTitle{
   font-size: 20px;
   display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 22px;
}
 
#titulo2{
    display: flex;
    justify-content: center;

}

.containerParticipantes{
    display: flex;
    flex-direction: column;
    border: 26px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 26px;
    justify-content: center;
    margin: 36px;
    position: absolute;
    top: 200px;
    align-items: center;
    

} & #titulo2{
    display: flex;
    justify-content: center;

}


#botoesFlex{
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    height: 25px;
    gap: 10px;
    width: 100%;
    margin-top: 20px ;
    
    
} & #plus{
    flex-grow: 1;
    background-color: #387478;
    border: 32px;
    border-radius: 26px;
    height:100%;
} & #minus{
    background-color: #387478;
    height: 100%;
    flex-grow: 1;
    border-radius: 26px;
    border: 32px;
} & #inputNumber{
    flex-grow: 3;
    text-align: center;
    background-color: #387478;
    border-radius: 26px;
    height: 100%;
    
    
}


#botaoOK{
    display: flex;
    justify-content: center;
    color: black;
    background-color: #387478;
    border-radius: 7px;
    border: 0px;
    width: 30px;
    height: 25px;
    font-family: Parkinsans;
    margin-top: 20px ;
    text-align: center;
    line-height: 25px;

}

