@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#page {
  display: flex;
  background-color: #387478e0;
  width: 100vw;
  height: calc(100vh - 40px);
  flex-direction: column;
}

.tableBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  
}

.tableBox h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffeded;
  text-shadow: 1px 1px 1px black;
}

.participantList {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  min-height: 150px;
  max-width: 500px;
  padding-bottom: 20px;
  background-color: #f4fffa;
  padding-top: 10px;
  box-shadow: 2px 1px 10px 3px rgba(0, 0, 0, 0.568);
}

.participantName {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
#nameCamp {
  font-size: 1.2rem;
  color: #1a8561;
  text-decoration: underline;
  padding-left: 5px;
}

#btnRemoveName {
  max-width: 20px;
  height: 100%;
  color: #FFFFFF;
  border: 0px none;
  border-radius: 32px;
  background-color: #629584;
}

/* Caixa de incrimentar nomes  */

.boxInput {
  width: 236px;
  height: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 26px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.568);
}
& #titleInput {
  margin-bottom: 15px;
}
& .inputNames {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
  font-size: 12px;
  background-color: #387478;
  color: #ffffff;
  
}
#btnAdd {
  max-width: 30px;
  height: auto;
  border: 0px none;
  border-radius: 10px;
  background-color: #629584;
  color: #ffffff;
  font-size: 24px;
  transition: transform 0.3s ease,
   background-color 0.3s ease;

}
#btnAdd:hover {
  transform: scale(1.1);
  background-color: #4e776a;

}

.inputNames input::placeholder {
  color: #b6b6b6;
}

.footBtn {
  display: flex;
  gap: 3rem;
  margin-top: 90px;
}

#btnNav {
  display: flex;
  background-color: #629584;
  border-radius: 7px;
  width: 5.8rem;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff; 
  box-shadow: 0px 1.5px 5px 0px black;
  cursor: pointer;
  transition: transform 0.3s ease,
   background-color 0.3s ease;
  
}

#btnNav:hover {
  transform: scale(1.1);
  background-color: #4e776a;

}